aseprite/
htop/
godot/
pulse/
xfce4
dconf/
BraveSoftware/
vlc/



# These have bee added from a fresh install of Ubuntu
gnome-initial-setup-done
evolution/
gtk-3.0/
ibus/
user-dirs.*

QtProject.conf

